/* Dark mode colors. */
:root {
	--sl-color-accent-low: hsl(160, 100%, 8%);
	--sl-color-accent: hsl(160, 40%, 40%);
	--sl-color-accent-high: hsl(160, 50%, 45%);
	--sl-color-white: hsl(160, 100%, 98%);
	--sl-color-gray-1: hsl(160, 100%, 92%);
	--sl-color-gray-2: hsl(160, 10%, 85%);
	--sl-color-gray-3: hsl(160, 10%, 58%);
	--sl-color-gray-4: hsl(160, 10%, 42%);
	--sl-color-gray-5: hsl(160, 10%, 25%);
	--sl-color-gray-6: hsl(160, 10%, 8%);
	--sl-color-black: hsl(160, 40%, 2%);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #a7e6d6;
	--sl-color-accent: rgb(61, 143, 116);
	--sl-color-accent-high: #003c32;
	--sl-color-white: #15181f;
	--sl-color-gray-1: #212635;
	--sl-color-gray-2: #323847;
	--sl-color-gray-3: #515868;
	--sl-color-gray-4: #848b9d;
	--sl-color-gray-5: #bec2cb;
	--sl-color-gray-6: #eaeef6;
	--sl-color-gray-7: #f5f6fa;
	--sl-color-black: #ffffff;
}
